name: Unpack Nova Exe

on: workflow_dispatch  # Позволяет запускать вручную по кнопке

jobs:
  extract:
    runs-on: ubuntu-latest

    steps:
      # 1. Установка Python 3.13.11
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.11'

      # 2. Скачивание файлов
      - name: Download files
        run: |
          # Скачиваем скрипт (используем raw ссылку)
          wget https://raw.githubusercontent.com/extremecoders-re/pyinstxtractor/master/pyinstxtractor.py
          
          # Скачиваем Nova.exe
          wget https://github.com/confeden/Nova/releases/download/v0.997/Nova.exe

      # 3. Запуск распаковки
      - name: Run PyInstxtractor
        run: python pyinstxtractor.py Nova.exe

      # 4. Загрузка артефактов (папка Nova.exe_extracted)
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Extracted-Files
          path: Nova.exe_extracted/
